
<html lang="en">
  <head>
    <title>There has been a mistake</title>
  </head>
  <body>
    <h3></h3>Ooops</h3
BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h2>Seems you have lost your way</h2>


    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/printer.png" media="(min-width: 600px)">
        <img class="hero-image" alt="A man running an old-fashioned printing press" src="/assets/home-illustration-small.webp" width="550" height="466">
      </picture> 
      </div>
      </div>
    </body>
</html>