<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="Cyclamen Press Logo" src="/assets/logo.png" width="150" height="150" />
</a>
